/* ^^^^^^^^^^ Table of Content ^^^^^^^^^^ */
/* 
1. Importing Fonts
2. * Properties
3. Body Elements 
4. Logo Design label.logo
5. Navigation Bar 
6. checkbtn
7. Media Queries max-width: 952px -> "label.logo" and "nav ul li a"
8. Media Queries max-width: 858px
9. Media Queries min-width: 858px -> "nav ul li a"
10. Media Queries min-width: 858px -> .active
11. Home Tab Effects 
12. Media Queries for Home tab and Some common queries for min-width: 858px
13. About tab
*/

/* -------------------------  1. Importing Fonts  ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


/* -------------------------  2. * Properties  ------------------------- */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* -------------------------  3. Body Elements  ------------------------- */
body {
    background: #000000;
    height: 100%;
    width: 100%;
}

/* -------------------------  4. Logo Design label.logo  ------------------------- */
label.logo {
    position: fixed;
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

/* -------------------------  5. Navigation Bar  ------------------------- */
nav {
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

a.active, a:hover {
    color: #0d893c;
    transition: .5s;
}

/* -------------------------  6. checkbtn  ------------------------- */
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* -------------------------  7. Media Queries max-width: 952px -> "label.logo" and "nav ul li a"  ------------------------- */
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

/* -------------------------  8. Media Queries max-width: 858px  ------------------------- */
@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0d893c;
    }

    #check:checked ~ ul {
        left: 0;
    }
}


nav ul li a {
    position: relative;
}
nav ul li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    border-radius: 5px;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
}
nav ul li a:hover {
    color: #0d893c;
    transition: 0.3s;
}

/* -------------------------  9. Media Queries min-width: 858px -> "nav ul li a"  ------------------------- */
@media (min-width: 858px) {
    nav ul li a:hover:after {
        width: 100%;
    }
}  

/* -------------------------  10. Media Queries min-width: 858px -> .active  ------------------------- */
@media (min-width: 858px) {
    .active {
        color: #0d893c;
        cursor: default;
    }
    
    .active:hover:after {
        width: 0;
    }
}

/* -------------------------  11. Home Tab Effects  ------------------------- */
.home{
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
}

.home h1 {
    
    width: 814px;
    height: 155px;
    left: 5%;
    top: 35%;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: rgba(255,255,255,.99);
}

.home h2 {
    
    width: 826px;
    height: 77px;
    left: 5%;
    top: 55%;
    
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    
    color: #ea0f1e;
}


/* -------------------------  12. Media Queries for Home tab and Some common queries for min-width: 858px  ------------------------- */
@media (max-width: 858px) {
    .home h1 {
        width: 100%;
        height: 100%;
        margin-top: 25%;
        font-weight: 550;
        font-size: 75px;
        line-height: 150%;
        justify-content: space-around;

    }
    .home h2 {
        width: 100%;
        height: 100%;
        margin-top: 0;
        font-family: 'Dosis', sans-serif;
        font-weight: 500;
        font-size: 50px;
        line-height: 150%;
    }
}

@media (min-width: 858px) {
    .home h1 {
        position: absolute;
    }
    .home h2 {
        position: absolute;
    }
    .about {
        position: absolute;
    }

}

/* -------------------------  13. About tab ------------------------- */
.about {
    /* position: absolute; */
    left: 0;
    /* margin-left: 30px; */
    top: 10%;
    right: 0;
}

h2 {
    margin-left: 30px;
    text-transform: uppercase;
    /* font-size: 30px; */
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: #ea0f1e;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 40px;
}

.about p {
    margin-left: 30px;
    margin-right: 20px;
    font-family: 'Regular';
    line-height: 150%;
    text-decoration: none;
    font-size: 30px;
    color: rgba(255,255,255,.99);
    background: rgba(0,0,0,.99);
}

.about p a{
    /* text-transform: italic; */
    color: rgba(197, 156, 156, 0.99);
}

/* -------------------------  14. Media Queries for About tab  ------------------------- */
@media (max-width: 858px) {
    h2 {
        margin-top: .5%;
        font-size: 30px;
    }

    .about p {
        font-size: 20px;
    }

}


/* -------------------------  15. Resume tab  ------------------------- */
/* .resume a {
    display: block;
    padding: 15px 30px;
    color: rgba(255,255,255,.99);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Regular';
    position: absolute;
    float: right;
    display: block;
    top: 110%;
    left: 80%;
}

.resume a:hover {
    color: rgba(0,0,0,.99);
    background: rgba(255,255,255,.99);
    box-shadow: 0 0 10px rgba(255,255,255,.99), 0 0 40px rgba(255,255,255,.99), 0 0 80px rgba(255,255,255,.99);
    transition-delay: 1s;
}

.resume a span {
    position: absolute;
    display: block;

}

.resume a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.99));
}

.resume a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.resume a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgba(255,255,255,.99));
}

.resume a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.resume a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgba(255,255,255,.99));
}

.resume a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.resume a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgba(255,255,255,.99));
}

.resume a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

iframe {
    box-sizing: inherit;
    border-radius: 20px;
    align-items: center;
    margin-left: 17%;
    width: 70%;
    max-width: 600;
    height: 100vh;
} */

/* ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,.99);
    border-radius: 60px;
}

::-webkit-scrollbar-thumb {
    background: #0d893c;
    border-radius: 50px;
} */


/* -------------------------  16.  ------------------------- */
/* @media (max-width: 858px) { */
    /* .resume a span { */
        /* display: none; */
    /* } */
    /* iframe {
        display: none;
    } */
/* } */

/* -------------------------  17. Contact tab  ------------------------- */
.contact img {
    height: 50px;
    
    width: auto;
    padding-right: 0;
}
.contact a {
    margin-left: 10vh;
    line-height: 150px;
    height: 100px;
    width: 10px;
    justify-content: space-between;
    margin-top: 100px;
    padding-top: 9vh;
    padding-right: 0;
}

.contact {
    padding-top: 15px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    height: 80px;
    max-height: 120px;
    padding-left: 10vh;
}



.contact img:hover {
    height: 70px;
    transition: 0.5s;
}

/* -------------------------  18. Projects tab  ------------------------- */
.projects div {
    /* border: 3px solid #4CAF50; */
    /* padding: 5px; */
    color: white;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 75%;
    margin-left: 10%;
    border-radius: 25px;

    text-align: center;
    /* justify-content: space-around; */
    /* height: auto; */
}
  
/* .projects .img1 {
    float: right;
} */
  
.projects .img2 {
    height: 100%;
    /* width: 100%; */
    float: left;
    /* justify-content: center; */
}
  
.projects .clearfix::after {
    content: "";
    clear: both;
    display: table;
    /* margin-right: 20px; */
}
.projects div p {
    font-size: 20px;
    line-height: 25px;
    /* left: 40px; */
    /* margin-left: 30%; */
}

/* .projects img {
    
    line-height: 100%;
    height: 30vh;
    width: 30vh;
    top: 30%;
    left: 25%;
    align-items: center;
} */


/* -------------------------  19. Media Queries for Projects tab  ------------------------- */
/* @media (min-width: 858px) {
    .projects {
        position: absolute;
    }
    .projects img {
        position: fixed;
    }
} */

/* .blogs div:hover {
    height: 250px;
    transition: 0.5s;
} */

/* .projects div {
    text-align: center;
    justify-content: space-around;
    margin-left: 10%;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 75%;
    height: 240px;
    border-radius: 25px;
}

.projects .img2 {
    float: left;
    text-align: center;
}

.projects .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.projects h3 {
    color: white;
    line-height: 150%;
    font-size: 30px;
} */

/* @media (min-width: 858px) {
    .projects div {
        position: absolute;
    }
} */

/* -------------------------  20. Blogs tab  ------------------------- */
.blogs div {
    text-align: center;
    justify-content: space-around;
    margin-left: 10%;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 75%;
    height: 240px;
    border-radius: 25px;
}

.img2 {
    float: left;
    /* text-align: center; */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.blogs h3 {
    color: white;
    line-height: 150%;
    font-size: 30px;
}


/* -------------------------  21.  ------------------------- */
@media (min-width: 858px) {
.blogs div {
    position: absolute;
}
}
/* -------------------------  22.  ------------------------- */



/* -------------------------    ------------------------- */
/* -------------------------    ------------------------- */
/* -------------------------    ------------------------- */